extends layout
block layout-content
  #id
    #wrapper
      hgroup
        h1 YAIID
        small YetAnotherIsItDown
      span
        form#pingCheck(action="/ping", method="POST")
          input#url(
            type="text",
            name="url",
            value="",
            placeholder="Enter domain or IP address",
            required
          )
          input(type="submit", value="Check Status")
      hgroup
        h5#response
        small#detail
      #tlsStats(style="text-wrap: balance;")
