extends layout
block layout-content
  #id
    #wrapper.wrapper
      h1 YAIID
      sub YetAnotherIsItDown
      .hub
        span
          form#pingCheck(action="/ping", method="POST")
            input#url.url(
              type="text",
              name="url",
              value="",
              placeholder="example.com",
              required
            )
            input.submit(type="submit", value="Check Status")
      #response.response
      #detail.detail
