block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title #{title} | YAIID
    style
      include css/pico.min.css
      include css/style.css
  body
    main.container
      div.grid
        block layout-content
  script 
    include js/submit.js
  script(async, src="https://track.app.altan.me/tracker.js", data-ackee-server="https://track.app.altan.me", data-ackee-domain-id="43e3d149-49d6-4c43-89cf-fe6bee275523")
  script(src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js')
  script 
    include js/kofi.js