@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: black;
  border: solid black;
  border-width: 16px 18px;
  border-radius: 0.4vw;
  /* transition: 1s ease-in-out; */
  /* width: 38em; */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}

input {
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4vw;
  margin: 0;
  font-size: 1.4em;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
  line-height: 2.3;
}

input.url {
  max-width: 13em;
  margin-right: 0.5em;
  padding-left: 1em;
}

::placeholder {
  overflow: visible;
}

p {
  margin: 0;
  font-size: 0.7rem;
}

.hub input:nth-child(2) {
  background: #ffd016;
  color: #000000;
  border-radius: 0.4vw;
  display: inline-block;
}

.response {
  display: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 0.4vw;
  /* margin: 0; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
  line-height: 2.7;
  font-weight: 600;
  padding-left: 1em;
  padding-right: 1em;
}

.detail {
  display: none;
  color: white;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4vw;
  margin: 0;
  font-size: 1em;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
}

.submit {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.submit:after {
  /* content: "\00bb"; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover {
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
